<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="../template/businessProfile.css" rel="stylesheet" type="text/css" />        
        <title>WeConnect</title>  
    </head>
    <body>
        <div class="container-default">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="index.html" style="color:white"><h2><span style="color:rgb(4, 148, 153)">W</span><span style="color:rgb(4, 148, 153)">e</span>Connect</h2></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
        
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Edit Business Profile
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Update Business Name</a>
                                    <a class="dropdown-item" href="#">Update contact details</a>
                                    <a class="dropdown-item" href="#">Update photos</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    
                </div>
            </nav>

            <div class="container" style="margin-top: 40px">

                <h2>Company Name</h2>
                <hr />

                <div class="col-md-12">
                    <img src="http://via.placeholder.com/782X250" class="img-fluid" alt="Responsive image"> 
                </div>

                <div class="col-md-8">
                    <p class="lead">
                        <h4>Description</h4>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                        Mollitia laborum explicabo voluptatum at officiis iusto non 
                    </p>
                    <p>
                        nemo, distinctio earum error id ipsum beatae, quo quaerat corrupti, saepe 
                        repellat repudiandae cumque.
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                        Mollitia laborum explicabo voluptatum at officiis iusto non 
                        nemo, distinctio earum error id ipsum beatae, quo quaerat corrupti, saepe 
                        repellat repudiandae cumque.
                    </p>
                </div>
                <br />
                <div class="row">
                    <div class="col-6 col-md-4">
                        <img src="http://via.placeholder.com/300x250" class="img-fluid" alt="Responsive image" />
                    </div>
                    <div class="col-6 col-md-4">
                        <img src="http://via.placeholder.com/300x250" class="img-fluid" alt="Responsive image" />
                    </div>
                    <div class="col-6 col-md-4">
                        <img src="http://via.placeholder.com/300x250" class="img-fluid" alt="Responsive image" />
                    </div>
                </div>
                <br />
                <br />
                <hr />

                <div class="container">
                    <h5><u>Review section</u></h5>
                    <div class="container">
                        <div class="form-group">
                            <label for="comment"><b><u>Comments</u></b></label>
                            <textarea class="form-control" id="comment" rows="5" required></textarea>
                        </div>
                        <hr />
                        <div class="form-group">
                            <button class="btn">Submit</button>
                        </div>
                    </div>
                    <br />
                    <div class="container">
                        <div class="row">
                            <b><u>Latest Reviews</u></b>
                            <ul>
                                <li>
                                    <p><b id="reviewer-name">Name</b></p>
                                    <P id="reviewer-comments">comments: Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                        Facilis dolorum tempora illo voluptatem, reiciendis aspernatur ad quidem voluptate.
                                        Dignissimos dolor voluptates neque dolorem corrupti quae deserunt distinctio velit 
                                        non ab.
                                    </P>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <h5><a class="nav-link" href="reviewPage.html" style="width:160px">More reviews</a></h5>
                </div>
            </div>
            <br />
            <br />
            <br />
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="main.js"></script>
    </body>

    <footer>
        <div class="container-foot">
            <h5>WeConnect &copy;2018 </h5> 
        </div>
    </footer>

</html>