.navbar{
    padding-left: 50px;
    padding-right: 50px;
    margin: 0px;
    background:rgb(49, 56, 56);
    width: auto;
}

.nav-link{
    color:white; 
    background:rgb(4, 148, 153);
    border-radius: 4px
}

#link-btn{
    color: white; 
}

#link-btn2{
    color: rgb(4, 148, 153);
  }

.mainImage{
    width: auto;
}

.btn{
    background:rgb(4, 148, 153);
    color: white;
}

#comp-name{
    margin-top: 40px;
}

.navbar-brand:hover{
    background-color: rgb(190, 13, 13)
}

.navbar-toggler, .navbar-toggler-icon{
    background:rgb(4, 148, 153);
}

#update-bus, #rev{
    color:white; 
    text-decoration:none;
}

.container-foot{
    padding: 20px;
    height: 60px;
    background:rgb(49, 56, 56);
    color: white;
    text-align: center;
    right: 0;
    bottom: 0;
    left: 0;
    width:100%;
    margin-top: 58px
}
.dropdown-item:hover{
    background: rgb(4, 148, 153);
}
