.navbar{
    padding-left: 50px;
    padding-right: 50px;
    margin: 0px;
    background:rgb(49, 56, 56);
    width: 100%;
  }
  
#link-btn2{
  color: rgb(4, 148, 153);
}

.form-horizontal{
    border:0px;
    border-radius: 10px;
    background: rgb(223, 215, 215);
    padding: 50px;
    width: auto;
    margin-right: 0px;
    border: 5px solid rgb(4, 148, 153);
}

#margtop{
    margin-top:40px
}

.btn{
    background:rgb(4, 148, 153);
    color: white;
    width: auto;
    position: center;
}

.navbar-brand:hover{
    background-color: rgb(190, 13, 13)
}

.container-foot{
    padding: 20px;
    height: 60px;
    background:rgb(49, 56, 56);
    color: white;
    text-align: center;
    right: 0;
    bottom: 0;
    left: 0;
    width:100%;
  }
